.App {
  text-align: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

@keyframes falling-snow {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

.present-green {
  background-image: repeating-linear-gradient(
    45deg,
    green,
    green 40px,
    white 40px,
    white 80px
  );
}

.present-blue {
  background-image: repeating-linear-gradient(
    -45deg,
    blue,
    blue 40px,
    white 40px,
    white 80px
  );
}

.present-red {
  background-image: repeating-linear-gradient(
    45deg,
    red,
    red 40px,
    white 40px,
    white 80px
  );
}
